body {
  margin: 0;
  font-family: Helvetica, Arial, "Hiragino Sans GB", sans-serif;
  font-size: 14px;
  line-height: 20px;
}

a {text-decoration: none}
a:hover,a:focus { text-decoration: underline}

.page-header {
  padding-bottom: 8px;
  margin: 10px 0 10px;
  border-bottom: 1px solid #eeeeee;
}
.nav li a {
  font-size: 16px;
}

.item{
  padding: 14px 14px 19px;
  border-color: #F0F0F0 #E6E6E6 #D8D8D8;
  border-style: solid;
  border-width: 1px;
}