{% extends 'layout.njk' %}

{# body======================================== #}
{% block body %}

<div class="container text-center">
  <div class="row">
    <div class="col-md">
      <div class="card">
        <span>未分类(0)</span>
        <img class="img-thumbnail" src="http://static.runoob.com/images/mix/img_avatar.png" alt="Card image" style="width:100%">
      </div>
      <p></p>
    </div>
    <div class="col-md">
      <div class="card">
        <span>未分类(0)</span>
        <img class="img-thumbnail" src="http://static.runoob.com/images/mix/img_avatar.png" alt="Card image" style="width:100%">
      </div>
      <p></p>
   </div>
    <div class="col-md">aaaa</div>
    <div class="col-md">aaaa</div>
    <div class="col-md">aaaa</div>
  </div>
  <div class="row">
    <div class="col-md">
      <div class="card">
        <span>未分类(0)</span>
        <img class="img-thumbnail" src="http://static.runoob.com/images/mix/img_avatar.png" alt="Card image" style="width:100%">
      </div>
    </div>
    <div class="col-md">aaaa</div>
    <div class="col-md">aaaa</div>
    <div class="col-md">aaaa</div>
    <div class="col-md">aaaa</div>
  </div>
</div>




{% endblock %}

